@import './style/colors.scss';

#app {
    background-image: linear-gradient($color-foam, $color-green);
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    color: $color-black;
}