footer {
    margin: 10px 15px;
    line-height: 1em;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(small) {
        flex-direction: column-reverse;
    }

    .user-actions {
        display: flex;

        @include breakpoint(small) {
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 15px;
        }

        a {
            display: flex;
            align-items: center;
            margin: 0 10px;
            text-decoration: none;
            color: $color-black;

            @include breakpoint(small) {
                margin-bottom: 10px;
            }

            &:hover {
                color: $color-blue;
            }

            .icon {
                width: 20px;
                height: 20px;
                fill: $color-black;
                margin-right: 5px;

                &.icon-npm {
                    width: 42px;
                    margin-left: -10px;
                }
            }
        }
    }

    .credits {

    }
}