.truchet-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .truchet-logo {
        width: 220px;
        height: 220px;
        background-color: $color-white;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 0 8px $color-light-gray;
        margin-right: -50px;
        z-index: 1;

        path {
            stroke: $color-light-gray;
            stroke-width: 5px;
            fill: none;

            &.filled {
                stroke: none;
                fill: $color-red;
            }
        }
    }

    .truchet-title {
        background-color: rgba($color-white, 0.7);
        box-shadow: 0 0 15px rgba($color-black, 0.2);
        padding: 30px 40px 20px 90px;
        border-radius: 15px;

        h1 {
            font-size: 3em;
            margin: 0;
            margin-bottom: 15px;
        }

        h2 {
            font-size: 0.8em;
            font-weight: 400;
            margin: 0;
            letter-spacing: 1px;
        }
    }
}