// Pallete colors, courtesy of coolors.co: https://coolors.co/247ba0-70c1b3-b2dbbf-f3ffbd-ff1654
$color-dark-blue: #2c3e50;
$color-blue: #247BA0;
$color-green: #70C1B3;
$color-foam: #B2DBBF;
$color-yellow: #F3FFBD;
$color-red: #FF1654;

// UI colors courtesy of Flat UI Colors: https://flatuicolors.com/palette/defo
$color-black: #2C3E50;
$color-white: #FFFFFF;